<html>
    <head>
        <title>Grades</title>
    </head>
    <body style="margin:40">
        <h1>Quizes</h1>

<!--        <h3>
        Welcome, {{username}}
        </h3>-->

        <p>
          <a href="/quizes"><button type="button">Quizes</button></a>
         <!-- <a href="/grades"><button type="button">Grades</button></a> -->
        </p>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <script src="/js/client.js" language="javascript"></script>
        <script type="text/javascript" language="javascript">
            lms.client.main()
        </script>

    </body>
</html>
